
@model IEnumerable<DidactischeLeermiddelen.Models.domain.Material>
@{
    ViewBag.Title = "Student";
}
@{
    if (!User.Identity.IsAuthenticated)
    {
        if (Request.Url != null)
        {
            Response.Redirect("~/Account/Login?returnUrl="
                              + Request.Url.LocalPath);
        }
    }
}

<h2>Verlanglijst</h2>
<div class="row">
    @using (Html.BeginForm("Student", "User", FormMethod.Get))
    {
        <div class="form-group">

            @Html.DropDownList("Weken", null, new { @class = "form-control col-md-4", @placeholder = "Zoeken" })
         
            <button type="submit" id="startdatum" class="btn btn-primary">
                <span class="glyphicon glyphicon-calendar"></span>
            </button>
        </div>
    }
</div>
<div class="row">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ImagePath)
                </th>
                <th>
                    @Html.ActionLink("Naam", "Index", new { sortOrder = ViewBag.NameSortParm })
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                @*<th>
                        @Html.DisplayNameFor(model => model.Company.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ItemNumber)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Price)
                    </th>*@
                <th>
                    Aantal beschikbaar
                </th>
                @*<th>
                        @Html.DisplayNameFor(model => model.Location)
                    </th>*@
                <th>
                    @Html.DisplayNameFor(model => model.Curriculars)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TargetAudiences)
                </th>

                <th>Verwijderen uit verlanglijst</th>
                <th>
                    Reserveer
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @if (item.ImagePath != null && item.ImagePath != "")
                        {
                            <img src="@Url.Content(item.ImagePath)" alt="@item.Name" class="materialImage" />
                        }
                    </td>
                    <td>
                        @Html.ActionLink(item.Name, "Detail", "Material", new { materialid = item.MaterialId },null)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    @*<td>
                            @if (item.Company != null)
                            {
                                @Html.DisplayFor(modelItem => item.Company.Name)
                            }
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ItemNumber)
                        </td>
                        <td class="align-right">
                            @item.Price.ToString("c")
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.Location)
                        </td>*@
                    <td>
                        @{

                            String aa = Request.Params["Weken"];
                            int parvalue = 1;

                            if (aa == null) { parvalue = item.GetAmountAvailable(DateTime.Now); }
                            else
                            {
                                int aantal = int.Parse(aa)+1;
                                DateTime dat = DateTime.Now.AddDays((int)aantal * 7);
                                parvalue = item.GetAmountAvailable(dat);
                            }
                        }
                        @Html.DisplayFor(modelItem => parvalue)
                    </td>
                    <td>
                        @foreach (var curr in item.Curriculars)
                        {
                            @curr.Name
                        }
                    </td>
                    <td>
                        @foreach (var targ in item.TargetAudiences)
                        {
                            @targ.Name
                        }
                    </td>
                    <td>
                        @using (Html.BeginForm("RemoveFromWishlist", "User", new { MaterialId = item.MaterialId }, FormMethod.Post))
                        {
                            <button type="submit" class="btn btn-danger" aria-label="Left Align">
                                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                            </button>
                        }
                        @*<input type="checkbox" name="removal" value="@item.MaterialId" />*@
                    </td>
                    <td>
                        @using (Html.BeginForm("AddToReservation", "User", new { Materialid = item.MaterialId, creationdate = DateTime.Now }, FormMethod.Post))
                        {
                            <input type="number" name="amount" value="1" class="inputmedium" min="1" />
                            <div id="uniform-undefined" class="selector" style="margin-right: 60px; margin-left: 10px; display: none ;">
                                @Html.DropDownList("Weken")
                                </div>
                                <button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-check"></span> Reserveer</button>
                                }
</td>
                </tr>
                            }
        </tbody>
    </table>
</div>

